@page "/learn_0170"
@inject Dtx.AspNetCore.SessionStorage sessionStorage

<h1>
	Learn 170
</h1>

<hr />

<h3>
	Person
</h3>

<hr />

<p>
	Age: @(CurrentSettings?.Age)
	<br />
	Weight: @(CurrentSettings?.Weight)
	<br />
	Height: @(CurrentSettings?.Height)
</p>

<hr />

<button class="btn btn-primary" @onclick="IncrementAge">Increment Age</button>
<button class="btn btn-primary" @onclick="IncrementWeight">Increment Weight</button>
<button class="btn btn-primary" @onclick="IncrementHeight">Increment Height</button>

@code
{
	private const string SettingsKey = "Settings";

	protected override async Task OnInitializedAsync()
	{
		CurrentSettings =
			await sessionStorage.GetAsync<Models.Settings>(key: SettingsKey);

		if (CurrentSettings == null)
		{
			CurrentSettings =
				new Models.Settings();
		}
	}

	private Models.Settings CurrentSettings { get; set; }

	private async Task IncrementAge()
	{
		CurrentSettings.Age++;

		await sessionStorage.SetAsync
			<Models.Settings>(key: SettingsKey, value: CurrentSettings);
	}

	private async Task IncrementWeight()
	{
		CurrentSettings.Weight++;

		await sessionStorage.SetAsync
			<Models.Settings>(key: SettingsKey, value: CurrentSettings);
	}

	private async Task IncrementHeight()
	{
		CurrentSettings.Height++;

		await sessionStorage.SetAsync
			<Models.Settings>(key: SettingsKey, value: CurrentSettings);
	}
}
